.movie-item {
    display: flex;
    width: 33.3%;
    min-height: 40px;
    padding: 5px 0;
}

.movie-item__horisontal {
    flex-direction: row;
}

.movie-item__vertical {
    flex-direction: column;
}

.movie-description {
    padding: 0 20px;
}

.movie-header,
.movie-text {
    margin-right: 20px;
}

.movie-poster {
    width: 20%;
}

.movie-poster-img {
    width: 100%;
}